<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719063473240-d3g7hjm4g4h6j68jn3c8c7cqkburv151.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719063473240-d3g7hjm4g4h6j68jn3c8c7cqkburv151</string>
	<key>API_KEY</key>
	<string>AIzaSyCVTAtD2RMd3CHmln_5K5P_d2-OZoVq70I</string>
	<key>GCM_SENDER_ID</key>
	<string>719063473240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fakkha.game</string>
	<key>PROJECT_ID</key>
	<string>puzzle-challenge-2114f</string>
	<key>STORAGE_BUCKET</key>
	<string>puzzle-challenge-2114f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719063473240:ios:7c7cb188067d36659efe2d</string>
</dict>
</plist>